* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1840px;
    margin: 0 auto;
    display: flex;
    border: 2px solid lightblue;
    flex-direction: column;
}
.hero {
    background-color: #1F2937;
    border: 1px solid black;


}
.header {
    display: flex;
    justify-content: space-around;
}
.navbar {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 8px;
    
}
a {
    color: white;
    text-decoration: none;
}
ul {
    display: flex;
    list-style-type: none;
}
li {
    padding: 8px;
}
.img_place {
    border: 1px solid black;
    width: 400px;
    height: 400px;

}